<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Automation Suite">
    <listeners>
        <listener class-name="com.example.listeners.TestListener"/>
        <!-- Listener cho Jenkins -->
        <listener class-name="org.testng.reporters.XMLReporter"/>
    </listeners>

    <test name="Smoke Test">
        <classes>
            <class name="com.example.tests.LoginTest">
                <methods>
                    <include name="loginSuccess"/>
                </methods>
            </class>
            <class name="com.example.tests.CartTest"/>
            <class name="com.example.tests.CheckoutTest"/>
        </classes>
    </test>

</suite>
